<%- include ('partials/header') %>

  <body>
    <%- include ('partials/navbar') %>

      <div class="container">
        <h1>Perguntas</h1>
        <hr>
        <a href="/perguntar" class="btn btn-warning">Perguntar</a>
        <div class="container">
        </div>
        <% perguntas.forEach((pergunta)=> { %>

          <div class="card margin-top">
            <div class="card-body">
              <h3>
                <%= pergunta.titulo %>
              </h3>
              <p>
                <%= pergunta.descricao%>
              </p>
            </div>
            <div class="card-footer">
              <a href="/pergunta/<%= pergunta.id %>"><button class="btn btn-success">Responder</button></a>
            </div>
          </div>
          <% }) %>
      </div>
  </body>
  <%- include ('partials/footer') %>